.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.elements {
  margin: 5vh 5vw 0vh 5vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer {
  background-color: #282c34;
  font-size: calc(10px + 0.5vmin);
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.button.no-margin {
  margin: unset;
}

.ui.input.name-field > input {
  text-align: center;
  font-size: 1rem;
}

.margin-top-small {
  margin-top: 5px;
}

.margin-right {
  margin-right: 10px;
}

.margin-right-large {
  margin-right: 20px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-vert {
  overflow-y: auto;
}

.servers-header {
  font-size: 18pt;
  text-align: left;
}

.server-list {
  max-height: 70vh;
  align-items: baseline;
  padding: 5px;
  border-radius: calc(2rem / 7);
  background-color: lightskyblue;
}

.server-card {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  padding: 5px 5px 5px 10px;
  border-radius: calc(2rem / 7);
  min-width: 200px;
}

.server-name {
  font-size: 16pt;
}

.players-header {
  font-size: 18pt;
  text-align: left;
  line-height: initial;
}

.player-list {
  max-height: 70vh;
  align-items: baseline;
  padding: 5px;
  border-radius: calc(2rem / 7);
  background-color: lightskyblue;
}

.player-card {
  display: flex;
  justify-content: flex-end;
  background-color: deepskyblue;
  padding: 5px;
  border-radius: calc(2rem / 7);
}

.player-card.placeholder {
  background-color: rgb(110, 131, 170);
}

.player-card.you {
  background-color: blue;
}

.player-name {
  font-size: 12pt;
}

.rooms-header {
  font-size: 18pt;
  text-align: left;
  line-height: initial;
}

.room-list {
  max-height: 70vh;
  align-items: baseline;
  padding: 5px;
  border-radius: calc(2rem / 7);
  background-color: lightskyblue;
}

.room-card {
  display: flex;
  justify-content: flex-end;
  background-color: darkcyan;
  padding: 5px;
  border-radius: calc(2rem / 7);
  min-width: 200px;
}

.room-card-in-progress {
  display: flex;
  justify-content: flex-end;
  background-color: firebrick;
  padding: 5px;
  border-radius: calc(2rem / 7);
  min-width: 200px;
}

.room-name {
  font-size: 14pt;
}

.ui.buttons .or.flex-or {
  width: unset;
  height: unset;
}

.text-center-right {
  text-align: right;
  align-items: center;
}

.player-count {
  font-size: 10pt;
}

.in-progress-message {
  font-size: 10pt;
}

.option-button {
  display: block;
  margin-bottom: 5px;
}

.show-options-button {
  min-width: 100px;
}

.align-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.room-name-header {
  font-size: 20pt;
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  min-height: 40px;
}

.rules-header {
  display: flex;
  align-items: center;
  font-size: 18pt;
}

.option-label {
  display: block;
  font-size: 12pt;
}

.ruleset-input > input {
  font-size: 12pt;
  width: 80px;
}

.game-board {
  display: flex;
}

.main-board {
  width: 600px;
}

.sidebar {
  width: 300px;
}

.piles-container {
  display: flex;
  justify-content: center;
}

.pile-container {
  margin: 0px 5px;
}

.pile {
  margin-bottom: 5px;
  min-width: 100px;
  background-color: cadetblue;
  border-radius: calc(2rem / 7);
}

.pile.on-fire {
  background-color: darkorange;
}

.pile.destroyed {
  background-color: darkred;
}

.pile > .ui.progress.attached, .pile > .ui.progress.attached > .bar {
  height: 0.4rem;
}

.pile > .ui.progress.attached > .bar {
  min-width: unset;
}

.pile-buttons-container {
  display: flex;
}

.ui.button.mulligan-button {
  display: flex;
  padding: 0.5em;
}

.ui.button.history-button {
  display: flex;
  padding: 0.5em;
}

.history-container {
  display: flex;
  width: 500px;
  height: 60px;
  background-color: darkmagenta;
  border-radius: calc(2rem / 7);
  overflow-x: scroll;
  white-space: nowrap;
}

.history-text {
  font-size: 10pt;
}

.history-cards {
  display: flex;
  padding: 0px 5px;
}

.history-card-container {
  display: flex;
  align-items: center;
}

.history-card-container .card {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

.grid {
  display: grid;
}

.grid-equal-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.grid-column-gap {
  column-gap: 5px;
}

.grid-equal-rows {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.grid-row-gap {
  row-gap: 5px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.game-info-text {
  text-align: left;
}

.game-info-text > span {
  font-size: 14pt;
  line-height: initial;
}

.ui.checkbox.player-option-checkbox > label {
  font-size: 14pt;
  color: white;
  padding-left: 1.3em;
}

.gap-text {
  margin-bottom: 5px;
  font-size: 1rem;
}

.gap-jumpback {
  color: lawngreen;
  font-weight: bold;
}

.start-text > span {
  font-size: 1.5em;
  font-weight: bold;
  line-height: initial;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.player-hand {
  margin: 10px;
}

.player-hand-current {
  margin: 10px;
  color: yellow;
}

.player-name {
  font-size: 12pt;
}

.hidden-card {
  margin: 2px;
  min-width: 20px;
  border: 1px solid white;
}

.player-card-text {
  font-size: 10pt;
}

.hidden-card-current {
  margin: 2px;
  min-width: 20px;
  border: 1px solid yellow;
  color: yellow;
  font-size: 10pt;
}

.player-hand-info {
  font-size: 10pt;
}

.end-message {
  margin: 10px;
}

.rule-summary-panel {
  border-radius: calc(2rem / 7);
  background-color: seagreen;
  padding: 5px;
}

.ui.button.sidebar-button {
  width: 100%;
}

.rule-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rule-container span {
  font-size: 14pt;
  line-height: initial;
}

.turn-summary-panel {
  border-radius: calc(2rem / 7);
  background-color: limegreen;
  padding: 5px;
}

.player-options-panel {
  text-align: left;
  border-radius: calc(2rem / 7);
  background-color: lightseagreen;
  padding: 5px;
}

.player-options-panel label {
  /* line-height: initial; */
}

.checkbox-label-small {
  text-align: left;
  font-size: 10pt;
}

.starting-player-selector-text {
  font-size: 12pt;
}

.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(224, 225, 226);
  border-radius: calc(2rem / 7);
  font-size: 1.5rem;
  font-weight: 700;
}

.card.just-played {
  color: cornsilk;
  background-color: lawngreen;
}

.card.on-fire {
  color: cornsilk;
  background-color: dodgerblue;
}

.card.on-fire.just-played {
  background-image: -webkit-linear-gradient(135deg, lawngreen 50%, dodgerblue 50%);
}

.card-button-container {
  margin: 0px 5px;
}

.card-button > .ui.button {
  padding: unset;
}

.card-button .card:hover {
  background-color: #ffeeba;
}

.card-button > .ui.button > .selected {
  color: cornsilk;
  background-color: #fbbd08;
}
